.item {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.item1 {
    background: linear-gradient(to bottom right, #fff, #ffc778);
  }
  &.item2 {
    background: linear-gradient(to bottom, #fff, #ffc778 30%, #f89174);
  }
}
