.circle-animation {
  // 円の弧の長さの計算式 2rπ * 中心角 / 360
  stroke-dasharray: 188.4;
  stroke-dashoffset: 188.4;
  animation: dash 3s ease-in-out forwards;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

//以下関係ないCSS

body {
  background-color: #ccc;
}
