.tab {
  &__btns {
    display: flex;
  }
  &__btn {
    ///ほぼ必須CSS
    cursor: pointer;
    ///
    width: calc(100% / 3);
    height: 100px;
    opacity: 0.5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      background: #ccc;
    }
    &:nth-child(2) {
      background: #9ec3db;
    }
    &:nth-child(3) {
      background: #dd9090;
    }
    &.is-active {
      opacity: 1;
    }
  }
  &__contents {
  }
  &__content {
    ///必須CSS
    display: none;
    ///
    padding: 30px;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 0.1em;
    &:nth-child(1) {
      background: #ccc;
    }
    &:nth-child(2) {
      background: #9ec3db;
    }
    &:nth-child(3) {
      background: #dd9090;
    }
    &.is-active {
      ///必須CSS
      display: block;
      ///
    }
  }
}
