body {
  padding-top: 100px;
  .category {
    width: 100%;
    position: relative;
    &__search {
      border-radius: 6px;
      display: block;
      height: 40px;
      width: 300px;
      margin: 0 auto 50px;
      border: solid 1px #ccc;
      padding: 10px;
    }
    &__contents {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }
    &__content {
      height: 300px;
      align-items: center;
      background: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &.is-filter {
        display: none;
      }
    }
  }
}
