body {
  padding-top: 100px;
  .category-area {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    .all {
      background: #ccc;
    }
    .red {
      background: #cc0000;
    }
    .blue {
      background: #0000cc;
    }
    .green {
      background: #00cc00;
    }
    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 60px;
      background: #000;
      color: #fff;
      margin: 30px auto 0;
      display: none;
      &.is-active {
        display: flex;
      }
    }
    &__btn-list {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 30px;
      &--item {
        width: 100px;
        height: 30px;
        a {
          color: #fff;
          display: block;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &__detail-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 15px;
      &--item {
        width: 390px;
        height: 300px;
        display: none;
        &.is-active {
          display: block;
        }
        a {
          color: #fff;
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
