body {
  padding-top: 100px;
  .category-area {
    &__btn-list {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 30px;
      &--item {
        width: 100px;
        height: 30px;
        background: #ccc;
        a {
        }
      }
    }
    &__detail-list {
      display: flex;
      justify-content: center;
      gap: 15px;
      &--item {
        width: 300px;
        height: 300px;
        background: #ccc;
        a {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
