body {
  padding-top: 100px;
  .category {
    width: 100%;
    position: relative;
    &__checks {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    &__btns {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 30px;
    }
    &__btn {
      padding: 10px 20px;
      cursor: pointer;
      background: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      &.is-filter {
        color: #fff;
        background: #000;
      }
    }

    &__contents {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }
    &__content {
      height: 300px;
      align-items: center;
      background: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &.is-filter {
        display: none;
      }
    }
  }
}
