@mixin break($break: 768) {
  @media screen and (max-width: ($break + px)) {
    @content;
  }
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.more-text {
  padding: 30px;
  &__text {
    line-height: 1.5;
    font-size: 16px;
    /// 必須
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    ///
    @include break() {
      font-size: 14px;
    }
  }
  &__button {
    background: #ccc;
    width: 300px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto 0;
  }
}
