.item{
  width:300px;
  height:60px;
  margin-bottom:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  &.item1{
/*   左上から右下に */
  background: linear-gradient(to bottom right, #FFF, #FFC778); 
}
&.item2{
/*  上から下に向かって　%指定ができる */
  background:
 linear-gradient(to bottom,#FFF,#FFC778 30%,#F89174); 
;
}
}